{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Edição de Cadastro de Estudante
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <tbody>
          <tr>
            <td scope="col">
              CPF
            </td>
            <td>
              {{ CPF(student.cpfnr).strfmt("fmt") }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_student_cpfnr', taxnr=current_user.taxnr, cpfnr=student.cpfnr) }}">Editar</a>
            </td>
          </tr>
          <tr>
            <td scope="col">
              Nome completo
            </td>
            <td>
              {{ student.fname }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_student_fname', taxnr=current_user.taxnr, cpfnr=student.cpfnr) }}">Editar</a>
            </td>
          </tr>
          <tr>
            <td scope="col">
              Data de nascimento
            </td>
            <td>
              {{ DATE(student.birth).strfmt("dd-mm-yyyy") }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_student_birth', taxnr=current_user.taxnr, cpfnr=student.cpfnr) }}">Editar</a>
            </td>
          </tr>
          <tr>
            <td>
              Email
            </td>
            <td>
              {{ student.email }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_student_email', taxnr=current_user.taxnr, cpfnr=student.cpfnr) }}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}
