<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs ––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">

    <title>
      {% if payload.edition %}
      OMEG {{ payload.edition }}
      {% else %}
      OMEG
      {% endif %}
    </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS --------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/skeleton.css') }}">

    <!-- Favicon ----------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('.static', filename='images/favicon.png') }}">

  </head>
  <body>

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container" style="margin-top: 5%">
      <div class="row">
        <div class="two columns">
          <a href="{{ url_for('bp_user_routes.professor_dashboard', cpfP=current_user.cpfP) }}">
            Home
          </a>
        </div>
        <div class="three columns">
          <a href="">Regulamento</a>
        </div>
        <div class="two columns">
          <a href="">Datas</a>
        </div>
        <div class="two columns">
          <a href="{{ url_for('bp_auth_routes.logout') }}">
            Logout
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="ten columns" style="margin-top: 10%">
          <h4>
            Cadastrar Estudante
          </h4>

          <div class="form-wrapper">
            <form action="{{ url_for('bp_user_routes.student_registration', cpfP=current_user.cpfP) }}" method="post">
              {{ form.hidden_tag() }}
              <fieldset class="form-field">
                {{ form.cpfS.label }} {{ form.cpfS(size=32) }}
                {% if form.cpfS.errors %}
                <ul class="errors">
                  {% for error in form.cpfS.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.name.label }} {{ form.name(size=32) }}
                {% if form.name.errors %}
                <ul class="errors">
                  {% for error in form.name.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.bday.label }} {{ form.bday(size=32) }}
                {% if form.bday.errors %}
                <ul class="errors">
                  {% for error in form.bday.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.mail.label }} {{ form.mail(size=32) }}
                {% if form.mail.errors %}
                <ul class="errors">
                  {% for error in form.mail.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.inep.label }} {{ form.inep(size=32) }}
                {% if form.inep.errors %}
                <ul class="errors">
                  {% for error in form.inep.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.roll.label }} {{ form.roll(size=32) }}
                {% if form.roll.errors %}
                <ul class="errors">
                  {% for error in form.roll.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">
                      {{ error }}
                    </span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                {{ form.submit }}
              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>

    <!-- End Document ---–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
