{% extends "home.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              Período de Inscrições
            </th>
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Faltam
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              Início
            </th>
            <td>
              {{ payload["save_the_date"]["registration"]["opening"].strftime("%d/%m/%Y") }}
            </td>
            <td>
              {{ payload["days_until"]["registration"]["opening"] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              Término
            </th>
            <td>
              {{ payload["save_the_date"]["registration"]["closing"].strftime("%d/%m/%Y") }}
            </td>
            <td>
              {{ payload["days_until"]["registration"]["closing"] }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              Provas
            </th>
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Faltam
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              Primeira Etapa (on-line)
            </th>
            <td>
              {{ payload["save_the_date"]["step"]["1"].strftime("%d/%m/%Y") }}
            </td>
            <td>
              {{ payload["days_until"]["step"]["1"] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              Segunda Etapa (presencial)
            </th>
            <td>
              {{ payload["save_the_date"]["step"]["2"].strftime("%d/%m/%Y") }}
            </td>
            <td>
              {{ payload["days_until"]["step"]["2"] }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}
