<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs ––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">

    <title>
      {% if edition %}
      OMEG {{ edition }}
      {% else %}
      OMEG
      {% endif %}
    </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS --------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script defer src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Favicon ----------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

  </head>
  <body>

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––– -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('bp_user_routes.professor_dashboard', taxnr=current_user.taxnr) }}">Olá, {{ pfname }}!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://files.cercomp.ufg.br/weby/up/36/o/Regulamento_XXXIII_OMEG.docx.pdf?1716401185" target="_blank">Regulamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bp_user_routes.save_the_date', taxnr=current_user.taxnr) }}">Datas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bp_user_routes.inep', taxnr=current_user.taxnr) }}" target="_blank">Cód. INEP</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Estudantes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.student_registration', taxnr=current_user.taxnr) }}">Cadastrar Estudante</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.registered_students', taxnr=current_user.taxnr) }}">Visualizar Cadastros</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.request_student_registration_edition', taxnr=current_user.taxnr) }}">Editar Cadastro</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                OMEG 2024
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.enrollments_extract', taxnr=current_user.taxnr) }}">Visualizar Inscrições</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.request_student_enrollment_edition', taxnr=current_user.taxnr) }}">Editar Inscrição</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.numeric_extract', taxnr=current_user.taxnr) }}">Extrato Numérico</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_user_routes.show_enrollments_lastyear', taxnr=current_user.taxnr) }}">Ano Anterior</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bp_auth_routes.logout', taxnr=current_user.taxnr) }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- End Document ---–––––––––––––––––––––––––––––––––––––––––––––––––– -->

  </body>
</html>
