<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs ––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">

    <title>
      {% if payload.edition %}
      OMEG {{ payload.edition }}
      {% else %}
      OMEG
      {% endif %}
    </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS --------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('bp_home_routes.static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('bp_home_routes.static', filename='css/skeleton.css') }}">

    <!-- Favicon ----------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('bp_home_routes.static', filename='images/favicon.png') }}">

  </head>
  <body>

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container" style="margin-top: 5%">
      <div class="row">
        <div class="two columns">
          <a href="{{ url_for('bp_home_routes.home') }}">
            Home
          </a>
        </div>
        <div class="three columns">
          <a href="">Regulamento</a>
        </div>
        <div class="two columns">
          <a href="">Datas</a>
        </div>
        <div class="two columns">
          <a href="{{ url_for('bp_auth_routes.login') }}">
            Login
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="ten columns" style="margin-top: 20%">
          <h4>
            Olimpíada de Matemática do Estado de Goiás
          </h4>
          <table id="Registration">
            <thead>
              <tr>
                <td>
                  Período de Inscrições
                </td>
                <td>
                </td>
                <td>
                  Dias até
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Início
                </td>
                <td>
                  {{ payload["save_the_date"]["registration"]["opening"].strftime("%d/%m/%Y") }}
                </td>
                <td>
                  {{ payload["days_until"]["registration"]["opening"] }}
                </td>
              </tr>
              <tr>
                <td>
                  Término
                </td>
                <td>
                  {{ payload["save_the_date"]["registration"]["closing"].strftime("%d/%m/%Y") }}
                </td>
                <td>
                  {{ payload["days_until"]["registration"]["closing"] }}
                </td>
              </tr>
            </tbody>
          </table>
          <table id="Exam">
            <thead>
              <tr>
                <td>
                  Provas
                </td>
                <td>
                </td>
                <td>
                  Dias até
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Primeira Etapa (on-line)
                </td>
                <td>
                  {{ payload["save_the_date"]["step"]["1"].strftime("%d/%m/%Y") }}
                </td>
                <td>
                  {{ payload["days_until"]["step"]["1"] }}
                </td>
              </tr>
              <tr>
                <td>
                  Segunda Etapa (presencial)
                </td>
                <td>
                  {{ payload["save_the_date"]["step"]["2"].strftime("%d/%m/%Y") }}
                </td>
                <td>
                  {{ payload["days_until"]["step"]["2"] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- End Document ---–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>

