{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <h4>
        Quantidade de Estudantes Cadastrados
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <thead>
          <tr>
            <th scope="col">
              Escola
            </th>
            <th scope="col">
              Nível 1
            </th>
            <th scope="col">
              Nível 2
            </th>
            <th scope="col">
              Nível 3
            </th>
            <th scope="col">
              Total
            </th>
          </tr>
        </thead>
        <tbody>
          {% for inep in extract["1"].keys() %}
          <tr>
            <th scope="row" title="{{ extract["5"][inep] }}">
              {{ inep }}
            </th>
            {% for i in [1, 2, 3] %}
            <td>
              {{ extract["1"][inep][i] }}
            </td>
            {% endfor %}
            <td>
              {{ extract["2"][inep] }}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">
              Total
            </th>
            {% for i in [1, 2, 3] %}
            <td>
              {{ extract["3"][i] }}
            </td>
            {% endfor %}
            <td>
              {{ extract["4"] }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">
      Cota atingida, não é mais possível cadastrar estudantes de nível {{ roll }}.
    </div>
  </div>
</div>

{% endblock %}
