{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <h4>
        Códigos INEP de Escolas Goianas
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <thead>
          <tr>
            <th scope="col">
              INEP
            </th>
            <th scope="col">
              Categoria
            </th>
            <th scope="col">
              Escola
            </th>
            <th scope="col">
              Município
            </th>
          </tr>
        </thead>
        <tbody>
          {% for school in schools %}
          <tr>
            <td title="{{ school.name }}">
              {{ school.inep }}
            </td>
            <td>
              {{ school.tier }}
            </td>
            <td title="CEP={{ school.code }}, telefone={{ school.pnum }}, latitude={{ school.latd }}, longitude={{ school.lotd }}">
              {{ school.name }}
            </td>
            <td>
              {{ school.city }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}
