{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Inscrição de Estudante na OMEG {{ edition }}
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <tbody>
          <tr>
            <th scope="col">
              CPF
            </th>
            <td>
              {{ CPF(cpfnr).strfmt("fmt") }}
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Nome completo
            </th>
            <td>
              {{ fname }}
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Data de nascimento
            </th>
            <td>
              {{ DATE(birth).strfmt("dd-mm-yyyy") }}
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Email
            </th>
            <td>
              {{ email }}
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Cód. INEP
            </th>
            <td title="{{ name }}">
              {{ inep }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_inep_for_new_enrollment', taxnr=current_user.taxnr, cpfnr=cpfnr, fname=fname, birth=birth, email=email, inep=inep, name=name, year=year, roll=roll) }}">
                Editar
              </a>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Nível
            </th>
            <td>
              {{ roll }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.edit_roll_for_new_enrollment', taxnr=current_user.taxnr, cpfnr=cpfnr, fname=fname, birth=birth, email=email, inep=inep, name=name, year=year, roll=roll) }}">
                Editar
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        Enviaremos um email para {{ email }} a fim de notificar o estudante de
        sua inscrição na OMEG {{ edition }}.
      </p>

      <p>
        O estudante precisa aprovar a sua inscrição na OMEG {{ edition }}. Isto
        é muito importante, pois apenas as inscrições que tenham sido aprovadas
        pelos estudantes serão efetivadas. 
      </p>

      <p>
        O processo é simples e as instruções de como aprovar a inscrição se
        encontram no email enviado.
      </p>

      <p>
        Professor, assim que o aluno confirmar a sua inscrição na OMEG você
        poderá visualizá-la através do menu Visualizar Inscrições. Neste ponto,
        será possível informar-nos se o estudante necessita de alguma condição
        especial para realizar as provas.
      </p>

    </div>
  </div>
</div>

{% endblock %}
