{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Inscrever {{ enrollment.fname }} na OMEG {{ edition }}
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <tbody>
          <tr>
            <th scope="col">
              Escola
            </th>
            <td title="{{ enrollment.name }}">
              {{ enrollment.inep }}
            </td>
            <td>
              <a href="">
                Editar
              </a>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Nível
            </th>
            <td>
              {{ enrollment.roll }}
            </td>
            <td>
              <a href="">
                Editar
              </a>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Condições especiais requeridas
            </th>
            <td>
              {{ enrollment.need }}
            </td>
            <td>
              <a href="">
                Editar
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}
