{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Editar Inscrição de {{ student.fname }} na OMEG {{ payload["edition"] }}
      </h4>

      <div class="form-wrapper" style="margin-top: 5%">
        <form action="{{ url_for('bp_user_routes.edit_enrollment_roll', taxnr=current_user.taxnr, cpfnr=cpfnr) }}" method="post">
          {{ form.hidden_tag() }}
          <fieldset class="form-field">
            <p>
            {{ form.roll.label }}
            </p>
            <p>
            {{ form.roll(size=32) }}
            </p>
            {% if form.roll.errors %}
            <ul class="errors">
              {% for error in form.roll.errors %}
              <li class="error">
                <i class="fa fa-exclamation"></i>
                <span class="error-message">
                  {{ error }}
                </span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </fieldset>
          <fieldset class="form-field">
            {{ form.submit(class_="btn btn-primary") }}
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
