<!doctype html>
<html>
  <body>
    <p>
      Prezado(a) {{ professor.name }},
    </p>
    <p>
      Para redefinir sua senha, clique no link a seguir:
      <a href="{{ url_for('bp_auth_routes.password_reset', token=token, _external=True) }}">
        Alterar senha
      </a>
    </p>
    <p>
      Alternativamente, acesse:
    </p>
    <p>
      {{ url_for('bp_auth_routes.password_reset', token=token, _external=True) }}
    </p>
    <p>
      Caso não tenha solicitado a alteração de sua senha, por favor ignore este
      e-mail.
    </p>
    <p>
      Atenciosamente,
    </p>
    <p>
      Equipe OMEG.
    </p>
  </body>
</html>
