<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs ––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">

    <title>
      {% if payload.edition %}
      OMEG {{ payload.edition }}
      {% else %}
      OMEG
      {% endif %}
    </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS --------------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script defer src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Favicon ----------–––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

  </head>
  <body>

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––– -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('bp_home_routes.home') }}">OMEG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://files.cercomp.ufg.br/weby/up/36/o/Regulamento_XXXIII_OMEG.docx.pdf?1716401185" target="_blank">Regulamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bp_home_routes.dates') }}">Datas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastro
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('bp_auth_routes.request_registration') }}">Solicitar Cadastro</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_auth_routes.request_password_reset') }}">Redefinir Senha</a></li>
                <li><a class="dropdown-item" href="{{ url_for('bp_auth_routes.login') }}">Login</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="ten columns" style="margin-top: 10%">

          <h4>
            Acesso à Conta
          </h4>

          <div class="form-wrapper" style="margin-top: 5%">
            <form action="{{ url_for('bp_auth_routes.login') }}" method="post">
              {{ form.hidden_tag() }}
              <fieldset class="form-field">
                <p>
                  {{ form.taxnr.label }}
                </p>
                <p>
                  {{ form.taxnr(size=32) }}
                </p>
                {% if form.taxnr.errors %}
                <ul class="errors">
                  {% for error in form.taxnr.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">{{ error }}</span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                <p>
                  {{ form.password.label }}
                </p>
                <p>
                  {{ form.password(size=32) }}
                </p>
                {% if form.password.errors %}
                <ul class="errors">
                  {% for error in form.password.errors %}
                  <li class="error">
                    <i class="fa fa-exclamation"></i>
                    <span class="error-message">{{ error }}</span>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </fieldset>
              <fieldset class="form-field">
                <p>
                  {{ form.submit() }}
                </p>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- End Document ---–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
