{% extends "home.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <h4>
        Acesso à Conta
      </h4>

      <div class="form-wrapper" style="margin-top: 5%">
        <form action="{{ url_for('bp_auth_routes.login') }}" method="post">
          {{ form.hidden_tag() }}
          <fieldset class="form-field">
            <p>
            {{ form.taxnr.label }}
            </p>
            <p>
            {{ form.taxnr(size=32) }}
            </p>
            {% if form.taxnr.errors %}
            <ul class="errors">
              {% for error in form.taxnr.errors %}
              <li class="error">
                <i class="fa fa-exclamation"></i>
                <span class="error-message">{{ error }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </fieldset>
          <fieldset class="form-field">
            <p>
            {{ form.password.label }}
            </p>
            <p>
            {{ form.password(size=32) }}
            </p>
            {% if form.password.errors %}
            <ul class="errors">
              {% for error in form.password.errors %}
              <li class="error">
                <i class="fa fa-exclamation"></i>
                <span class="error-message">{{ error }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </fieldset>
          <fieldset class="form-field">
            <p>
            {{ form.submit(class_="btn btn-primary") }}
            </p>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
