{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Edição do Cadastro de {{ student.fname }}
      </h4>

      <div class="form-wrapper" style="margin-top: 5%">
        <form action="{{ url_for('bp_user_routes.edit_student_birth', taxnr=current_user.taxnr, cpfnr=student.cpfnr) }}" class="row g-3 needs-validation" method="post" novalidade>

          {{ form.hidden_tag() }}

          <div class="col-md-4">
            <label class="form-label">{{ form.birth.label }}</label>
            {{ form.birth(class_="form-control") }}
            {% if form.birth.errors %}
            <ul class="errors">
              {% for error in form.birth.errors %}
              <li class="error">
                <span style="color: red;">{{ error }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="col-12">
            {{ form.submit(class_="btn btn-primary") }}
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
