{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 5%">

      <h4>
        Edição do Cadastro de {{ sfname }}
      </h4>

      <div class="form-wrapper" style="margin-top: 5%">
        <form class="row g-3 needs-validation" method="post" novalidate>

          {{ form.hidden_tag() }}

          <div class="col-md-4">
            <label class="form-label">{{ form.cpfnr.label }}</label>
            {{ form.cpfnr(class_="form-control") }}
            {% if form.cpfnr.errors %}
            <ul class="errors">
              {% for error in form.cpfnr.errors %}
              <li class="error">
                <span style="color: red;">{{ error }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="col-12">
            {{ form.submit(class_="btn btn-primary") }}
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
