{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <h4>
        Participantes de Edições Anteriores da OMEG
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <thead>
          <tr>
            <th scope="col">
              Nome completo
            </th>
            <th scope="col">
              Cód. INEP
            </th>
            <th scope="col">
              Nível
            </th>
            <th>
              Ano
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for cpfnr in enrollments.keys() %}
          <tr>
            <td>
              {{ enrollments[cpfnr]["fname"] }}
            </td>
            <td title="{{ enrollments[cpfnr]["school_name"] }}">
              {{ enrollments[cpfnr]["inep"] }}
            </td>
            <td>
              {{ enrollments[cpfnr]["roll"] }}
            </td>
            <td>
              {{ enrollments[cpfnr]["year"] }}
            </td>
            <td>
              <a href="">Inscrever</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}
