{% extends "user.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">

      <h4>
        Participantes de Edições Anteriores da OMEG
      </h4>

      <table class="table table-striped" style="margin-top: 5%">
        <thead>
          <tr>
            <th scope="col">
              Nome completo
            </th>
            <th scope="col">
              Nível
            </th>
            <th scope="col">
              Cód. INEP
            </th>
            <th>
              Ano
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for enrollment in enrollments %}
          <tr>
            <td>
              {{ enrollment.fname }}
            </td>
            <td>
              {{ enrollment.roll }}
            </td>
            <td title="{{ enrollment.name }}">
              {{ enrollment.inep }}
            </td>
            <td>
              {{ enrollment.year }}
            </td>
            <td>
              <a href="{{ url_for('bp_user_routes.new_enrollment_from_previous_one', taxnr=current_user.taxnr, cpfnr=enrollment.cpfnr, fname=enrollment.fname, birth=enrollment.birth, email=enrollment.email, inep=enrollment.inep, name=enrollment.name, year=enrollment.year, roll=enrollment.roll, need=enrollment.need) }}">
                Inscrever
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}
